<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Home</title>

    <!-- Load static -->
    {% load static %}

    <!-- Link CSS -->
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>

    <div class="container">
        <h1>Welcome to Django</h1>
        <p id="message">This is rendered using templates.</p>

        <button onclick="changeText()">Click Me</button>
    </div>

    <!-- Link JS -->
    <script src="{% static 'js/home.js' %}"></script>
</body>
</html>